/* Footer  */
.footer-wrapper {
    justify-self: center;  /* center horizontally in grid cell */
    align-self: center;    /* center vertically in grid cell */
    width: 100%;
}

.footer-wrapper hr {
    height: 5px;
    background-color: #000000;
  }

.footer-wrapper p{
    background-color: #FFFFFF;
    padding: 10px;
    font-size: clamp(.75rem, 2.5vw, 1rem);
    text-align: center;
    color: #000000;
}

